*{padding: 0;
    margin: 0;
    }
    
    h1, p, h2, h3, a, span{
        font-family: 'Montserrat', sans-serif;}
    
        p{
            font-weight: 200;
        }
        
        header{
            display: flex;
            flex-direction: column;
            background-color: #FFC107;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        }
        
        header img{
            align-self: center;
            width: 324px;
            height: 84px;
        }
        header .container{
            background-color:  #FFA000; 
        }
    
        .menu{
    background: #FFA000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    color: #FDFDFD;
    list-style: none;
        }
        .container nav{
            display: flex;
            justify-content: center;
        }
    
        .center-li{
            margin: 0 58px 0 58px;}
    
        .container nav li{
            list-style: none;
            margin: 12px 12px;
        }
        .container nav li {
            text-decoration: none;
            font-size: 1.1vw;
            color: #FDFDFD;
        }

        /* .textobanner span h2{

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 70px;
            line-height: 85px;
            text-transform: lowercase;
            
            color: #FFFFFF;
            
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);} */

            section {
                display: flex;
                align-items: flex-start;
                background-image: url("../Receitas/Img Lista Receitas/Banner.png");
                background-repeat: no-repeat;
                background-size: 100% auto;
            }

            span {display: flex;
                padding: 100px;
                font-weight: 900;
                font-size: 70px;
                line-height: 85px;
                text-transform: lowercase;
                color: #FFFFFF;
                font-style: normal;
                width: 419px;
                left: 122px;
                top: 214px;
            }

           

            .imagemcontato{
                position: absolute;
                width: 350px;
                height: 771px;
                left: 127px;
                top: 667px;
                border-radius: 20px;}

        

                .titleform h3 {position: absolute;
                    left: 0%;
                    right: 68.95%;
                    top: 0%;
                    bottom: 89.02%;
                    
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 46px;
                    
                    color: #FFC107;}


                .borda1{box-sizing: border-box;

                    position: absolute;
                    width: 820px;
                    height: 766px;
                    left: 492px;
                    top: 00px;
                    
                    background: #FFFFFF;
                    border: 1px solid #FFA000;
                    border-radius: 20px;
                }

                .borda2{box-sizing: border-box;

                    position: absolute;
                    left: 0.6%;
                    right: 0%;
                    top: 21.48%;
                    bottom: 70.88%;
                    
                    background: #FFFFFF;
                    border: 1px solid #FFA000;
                    border-radius: 7px;}

                    .borda3{box-sizing: border-box;
                        position: absolute;
                        left: 0.6%;
                        right: 0%;
                        top: 32.7%;
                        bottom: 59.67%;
                        
                        background: #FFFFFF;
                        border: 1px solid #FFA000;
                        border-radius: 7px;}

                        .borda4{box-sizing: border-box;

                            position: absolute;
                            left: 0.6%;
                            right: 0.06%;
                            top: 43.68%;
                            bottom: 10.26%;
                            
                            background: #FFFFFF;
                            border: 1px solid #FFA000;
                            border-radius: 7px;}

                            button, input[type="submit"], input[type="reset"] {
                                background: none;
                                color: white;
                                border: none;
                                padding: 0;
                                font: inherit;
                                cursor: pointer;
                                outline: inherit;
                                position: absolute;
                                left: 0.66%;
                                right: 77.56%;
                                top: 92.31%;
                                bottom: 0.06%;
                                
                                background: #FFC107;
                                border-radius: 50px;}
               
               

        footer{
            position: absolute;
            width: 1440px;
            height: 119px;
            left: 0px;
            top: 1571px;
            
            background: #FFC107;
        }
        
        
        footer img{
            width: 20%;
        }
        
        footer span{
            font-size: 80%;
        }